:root{
    --primary-color: #006766;
    --secondary-color: #dff1f1;
    --fountain-color: #4eb7b3;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--secondary-color);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    color: var(--fountain-color);
    margin-top: 0;
    text-align: center;
filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));}
h2{
    color: var(--primary-color);
    margin-top: 0;
}
.animate-img{
    position: relative;
    top: -3rem;
    max-height: 50vh;
    width: auto;
    mask-image: linear-gradient(black 80%, transparent);
}
.attention-list{
    display: flex;
    color: var(--fountain-color);
    margin-bottom: 40px;
    gap: 1.5rem;
    text-align: center;
}
.previvet-logo{
    max-width: 50vw;
    height: auto;
    filter: drop-shadow(0 0 0.65rem #4eb7b3)
}
.btn-group{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.btn{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 8px 16px;
    transition: all 0.5s ease;
    text-decoration: none;
    gap: 5px;
    border: solid 2px transparent;
}
.btn a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.5s ease 0.2s;
}
.btn:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: solid 2px var(--primary-color);
    cursor: pointer;
}
.btn:hover a {
  color: var(--primary-color);
}
.footer-location{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    margin-top: 55px;
    gap: 1rem;
}
.social-media{
    display: flex;
    gap: 0.5rem;
& svg{
        color: var(--primary-color);
        width: 32px;
        height: 32px;
}
}


.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1024px){
    .animate-img{
    position: absolute;
    max-height: 70vh;
    right: 0;
    }
    .header{
    font-size: 1.6rem;
    }
    h2{
        font-size: 1rem;
    }
    .attention-list{
        font-size: 1rem;
        flex-direction: column;
        text-align: start;
    }
}
@media (min-width: 1440px){
    .animate-img{
        max-height: 100vh;
        width: auto;
    }
    .header{
    font-size: 2.6rem;
    }
    .attention-list{
        flex-direction: row;
    }
}